
<footer>
  <div class="footer-logo"><img src="img/favicon64.png"/></div>
  <div class="footer-links">
    <ul>
      <li>
        <h3>About</h3>
      </li>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="gettingstarted.html">Getting Started</a></li>
      <li><a href="faq.html">FAQ</a></li>
    </ul>
    <ul>
      <li>
        <h3>Contact</h3>
      </li>
      <li><a href="https://github.com/ExpediaInceCommercePlatform/cyclotron"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="https://github.com/ExpediaInceCommercePlatform/cyclotron/issues"><i class="fab fa-github-alt"></i> Report a Bug</a></li>
    </ul>
    <ul>
      <li>
        <h3>More</h3>
      </li>
      <li><a href="http://www.expedia.com">Expedia.com</a></li>
      <li><a href="http://www.lifeatexpedia.com/">Jobs</a></li>
    </ul>
  </div>
  <hr/>
  <p>An Open-Source Project by Expedia Group</p>
  <p>© Expedia Group</p>
</footer>