<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cyclotron: a web application for constructing dashboards.">
    <meta name="keywords" content="Cyclotron dashboards dashboard Expedia">
    <meta name="author" content="Dave Bauman &lt;dbauman@expedia.com&gt;">
    <meta name="copyright" content="Copyright 2015-2018, Expedia Group">
    <meta http-equiv="ClearType" content="on">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Cyclotron">
    <meta name="twitter:description" content="Cyclotron: a web application for constructing dashboards.">
    <meta name="twitter:image" content="img/favicon128.png">
    <link rel="icon" type="image/png" href="img/favicon16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon32.png" sizes="32x32">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/app.js"></script>
    <script src="js/vendor.js"></script>
  </head>
  <body>
    <header class="navigation" role="banner">
      <div class="navigation-wrapper"><a class="logo" href="index.html"><img src="img/favicon64.png">
          <p>Cyclotron</p></a><a class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i></a>
        <nav role="navigation">
          <ul class="navigation-menu show" id="js-navigation-menu">
            <li class="nav-link" id="home"><a href="index.html">Home</a></li>
            <li class="nav-link" id="about"><a href="about.html">About</a></li>
            <li class="nav-link" id="gettingstarted"><a href="gettingstarted.html">Getting Started</a></li>
            <li class="nav-link" id="faq"><a href="faq.html">FAQ</a></li>
            <li class="nav-link collapsed-only"><a href="https://github.com/ExpediaInceCommercePlatform/cyclotron"><i class="fab fa-github"></i> GitHub</a></li>
          </ul>
        </nav><a class="github" href="https://github.com/ExpediaInceCommercePlatform/cyclotron" aria-label="View source on Github"><i class="fab fa-github"></i></a>
      </div>
    </header>
    <script>
      documentReady(function() {
          var menuToggle = document.querySelectorAll('#js-mobile-menu')[0];
          var menu = document.querySelectorAll('#js-navigation-menu')[0];
          removeClass(menu, 'show');
      
          menuToggle.addEventListener('click', function(e) {
              e.preventDefault();
              toggleClass(menu, 'show');
          });
      });
      
      var path = window.location.pathname;
      if (path.indexOf('index.html') > -1) {
          addClass(document.querySelectorAll('#home')[0], 'active');
      } else if (path.indexOf('about.html') > -1) {
          addClass(document.querySelectorAll('#about')[0], 'active');
      } else if (path.indexOf('gettingstarted.html') > -1) {
          addClass(document.querySelectorAll('#gettingstarted')[0], 'active');
      } else if (path.indexOf('faq.html') > -1) {
          addClass(document.querySelectorAll('#faq')[0], 'active');
      }
    </script>
    <main>
    </main>
    <footer>
      <div class="footer-logo"><img src="img/favicon64.png"></div>
      <div class="footer-links">
        <ul>
          <li>
            <h3>About</h3>
          </li>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="gettingstarted.html">Getting Started</a></li>
          <li><a href="faq.html">FAQ</a></li>
        </ul>
        <ul>
          <li>
            <h3>Contact</h3>
          </li>
          <li><a href="https://github.com/ExpediaInceCommercePlatform/cyclotron"><i class="fab fa-github"></i> GitHub</a></li>
          <li><a href="https://github.com/ExpediaInceCommercePlatform/cyclotron/issues"><i class="fab fa-github-alt"></i> Report a Bug</a></li>
        </ul>
        <ul>
          <li>
            <h3>More</h3>
          </li>
          <li><a href="http://www.expedia.com">Expedia.com</a></li>
          <li><a href="http://www.lifeatexpedia.com/">Jobs</a></li>
        </ul>
      </div>
      <hr>
      <p>An Open-Source Project by Expedia Group</p>
      <p>© Expedia Group</p>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-69147212-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>