h3 Linked Widget
p.
    The Linked Widget allows a Widget to be re-used within the same Dashboard. A typical use-case is displaying the same Header on multiple pages. Using a Linked Widget allows the Header configuration to be defined once, but used multiple times.

p.
    Any instances of a Linked Widget are isolated from each other and the source Widget. Functionally, it is identical to copy/pasting the JSON configuration of a Widget.

h4 Widget Overrides

p.
    It is possible to override any of the properties of the source Widget.  The source Widget's properties are merged with those of the Linked Widget, with any properties of the Linked Widget taking precedence.

p.
    All of the possible properties are not available in the Dashboard Editor, but they can be set via JSON.    

h4 Properties
p.
    These are the properties specific to this widget.  
    General Cyclotron widget properties are not repeated here (e.g. layout properties).

property-table(properties='config.widgets.linkedWidget.properties')
 
