//- Embedded Html Widget
.html-widget(ng-controller='HtmlWidget')
    
    h1.title(ng-if='::widget.title') {{ widgetTitle() }}

    .spinjs(ng-if='loading')
    .widget-error(ng-if='dataSourceError == true && !loading')
    .widget-nodata(ng-if='nodata && !loading')
        .fa.fa-exclamation-triangle
        span  {{ nodata }}

    div(ng-if='!nodata && !dataSourceError', html-repeater='htmlStrings')
