//- Embedded Html Widget
.html-widget(ng-controller='HtmlWidget')
    
    h1.title(ng-if='::widget.title') {{ widgetTitle() }}

    .widget-body
        .widget-loading(spinjs, ng-if='isLoading()')
        .widget-error(ng-if='widgetContext.dataSourceError == true && !isLoading()')
        .widget-nodata(ng-if='widgetContext.nodata && !isLoading()')
            .fa.fa-exclamation-triangle
            span  {{ widgetContext.nodata }}

        div(ng-if='!noDataOrError()', html-repeater='htmlStrings')
