# Node.js
npm-debug.log
node_modules

# Bower
bower_components

# Build
_public

# Sublime Text
*.sublime-*
/bin

# Eclipse
.classpath
.project
.metadata
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store
