div.clock-widget(ng-controller='ClockWidget')
	h1.title(ng-if='::widget.title') {{ widgetTitle() }}
	.widget-body
		.widget-error(ng-if='widgetContext.dataSourceError')
		.the-number(number-count='1', is-horizontal='"false"', ng-if='widgetContext.dataSourceError == false')
			h1.big {{ currentTime }}
