.annotation-chart-widget(ng-controller='AnnotationChartWidget')
    h1.title(ng-if='widget.title') {{ widgetTitle() }}

    .widget-body

        .spinjs(ng-if='loading')
        .widget-error(ng-if='dataSourceError == true && !loading')        
        .widget-nodata(ng-if='nodata && !loading')
            .fa.fa-exclamation-triangle
            span  {{ nodata }}

        .the-chart(google-chart='google-chart', chart='chartObject', 
            agc-on-error='handleError(message)',
            ng-if='!nodata && !dataSourceError && chartObject.data')

