.image-widget(ng-controller='ImageWidget')
    h1.title(ng-if='::widget.title') {{ widgetTitle() }}

    .widget-body
        a(ng-if='link', ng-href='{{ link }}', target='{{ linkTarget() }}')
            div(fancy-image, image='currentImage', title='{{ currentImage.tooltip }}')

        div(ng-if='!link', fancy-image, image='currentImage', title='{{ currentImage.tooltip }}')
