h3 JSON Widget
p. 
    The JSON Widget displays formatted JSON data from a Data Source. 
    This can be useful when you want to see the raw response from an API.

h4 Properties

property-table(properties='config.widgets.json.properties')


h3 Examples

h4 Basic usage
p
pre.code.
    {
        "dataSource": "datasource_0",
        "widget": "json"
    }
