div.javascript-widget(ng-controller='JavascriptWidget')
    h1.title(ng-if='::widget.title') {{ widgetTitle() }}

    .widget-loading(spinjs, ng-if='isLoading()')
    .widget-error(ng-if='widgetContext.dataSourceError == true && !isLoading()')
    
    .js-container(data='widgetContext.data', refresh='widget.refresh', js-object='jsObject')
