h3 Mock Data Source
p
    | The Mock Data Source generates sample data for demonstration/testing purposes.  
    | It has several modes which can be selected by the 
    em format 
    | property. The possible formats are:

table
    tr
        th Format
        th Description
    tr
        td object
        td Default format
    tr
        td pie
        td Designed for pie charts, with percents that sum to 100%
    tr
        td ducati
        td Mock real-time data source that automatically updates if 
            em refresh 
            | is enabled

p

property-table(properties='config.dashboard.properties.dataSources.options.mock.properties')
