h3 3rd Party Libraries
p.
    Cyclotron uses a number of 3rd party Javascript libraries to run the website, display visualizations, etc.  These scripts can also be used by Dashboards.  They do
    not require import via the Scripts section, as they are bundled and loaded automatically.
    Most of these libraries are already used by Widgets.

p.
    These libraries and controls can be used in inline Javascript or custom Scripts, or by HTML and Javascript Widgets.

h4 General Javascript Libraries
table
    thead
        tr
            th Name
            th Version
            th Description
    tbody
        tr
            td
                a(href='https://jquery.com/', target='_blank') jQuery
            td 2.1.4
            td Ubiquitous JavaScript library
        tr
            td
                a(href='http://lodash.com/', target='_blank') Lo-Dash
            td 2.4.1
            td Functional Javascript utility library
        tr
            td
                a(href='http://momentjs.com/', target='_blank') Moment.js
            td 2.13.0
            td Parse, validate, manipulate, and display dates in javascript
        tr
            td
                a(href='http://momentjs.com/timezone/', target='_blank') Moment Timezone
            td 0.5.10
            td Parse and display dates in any timezone. (Note: includes 2010-2020)
        tr
            td
                a(href='http://numeraljs.com/', target='_blank') Numeral.js
            td 1.5.3
            td A javascript library for formatting and manipulating numbers
        tr
            td
                a(href='http://mozilla.github.io/localForage', target='_blank') localForage
            td 1.2.0
            td Offline Storage, Improved
        tr
            td
                a(href='https://medialize.github.io/URI.js/', target='_blank') URI.js
            td 1.15.1
            td URI.js is a javascript library for working with URLs.


h4 Controls, UI Elements, Frameworks
table
    thead
        tr
            th Name
            th Version
            th Description
        tr
            td 
                a(href='http://angularjs.org/', target='_blank') Angular.js
            td 1.2.26
            td Superheroic JavaScript MVW Framework
        tr
            td
                a(href='http://getbootstrap.com/', target='_blank') Bootstrap
            td 3.x
            td Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.
        tr
            td
                a(href='http://c3js.org/', target='_blank') C3.js
            td 0.4.10
            td D3-based reusable chart library.
        tr
            td
                a(href='http://d3js.org/', target='_blank') D3.js
            td 3.5.6
            td D3.js is a JavaScript library for manipulating documents based on data. D3 helps you bring data to life using HTML, SVG, and CSS. 
        tr
            td
                a(href='http://fontawesome.io/', target='_blank') Font Awesome
            td 4.6.3
            td Font Awesome gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS. 
        tr
            td
                a(href='http://www.highcharts.com/', target='_blank') Highcharts
            td 4.2.7
            td Highcharts is a charting library written in pure HTML5/JavaScript
        tr
            td Highcharts-more
            td 4.2.6
            td Additional Highcharts package containing extra modules
        tr
            td 
                a(href='http://masonry.desandro.com/', target='_blank') Masonry
            td 3.1.5
            td Masonry is a JavaScript grid layout library
        tr
            td
                a(href='http://metricsgraphicsjs.org/', target='_blank') MetricsGraphics.js
            td 2.6.0
            td MetricsGraphics.js is a library built on top of D3 that is optimized for visualizing and laying out time-series data. 
        tr
            td
                a(href='http://ivaynberg.github.io/select2/', target='_blank') Select2
            td 3.5.0
            td Select2 is a jQuery based replacement for select boxes. It supports searching, remote data sets, and infinite scrolling of results
        tr
            td
                a(href='http://xdsoft.net/jqplugins/datetimepicker/', target='_blank') DateTimePicker
            td 2.5.4
            td jQuery Plugin Date and Time Picker
        tr
            td
                a(href='http://fgnass.github.io/spin.js/', target='_blank') spin.js
            td 2.1.0
            td Spin.js dynamically creates spinning activity indicators
