h3 Dashboards

p In Cyclotron, Dashboards consist of one or more Pages, each of which has one or more Widgets. A Dashboard has 
    | several top-level properties, many of which are inherited by Pages and Widgets.  Setting a property at the
    | Dashboard-level can be more efficient than setting it directly on every Widget.  Inherited properties can be 
    | overridden by the Page and/or Widget, as well.

p In the Dashboard Editor, these properties are found under the Details tab, although 
    em pages
    |, 
    em dataSources
    |, 
    em scripts
    |, etc. are located in their own tab in the Editor.

h4 Properties

property-table(properties='config.dashboard.properties')
