h3 Hotkeys

p.
    The following hotkeys are enabled:

h4 Dashboard Editor
dl.dl-horizontal
    dt Ctrl-S / Command-S
    dd Save current Dashboard

h4 Dashboard Viewer
dl.dl-horizontal
    dt Left/Page-Up
    dd Rotate page backwards
    dt Right/Page-Down
    dd Rotate page forwards
    dt Space
    dd Toggle pause/resume of automatic dashboard rotation
