h3 JSON

p.
    Dashboards are defined entirely in JSON, making it easy to copy/paste, store in a version control system, etc.  When rendering the Dashboard in the browser, the same JSON Dashboard definition is loaded and parsed.
p.
    Cyclotron provides an editor that makes it easier to create and edit Dashboards without directly editing the JSON definition.  However, each page in the editor has a direct link to the corresponding JSON for that page, and the entire Dashboard JSON is available from the Details page.
p.
    Examples presented in the documentation are given in JSON for convenience, but they translate very easily to the Editor.  If needed, the JSON examples can be pasted into the JSON editor, and then viewed through the primary editor.
