h3 Widgets

p.
    These are the standard Widget properties which can be set regardless of the Widget type.  Refer to the documentation for each Widget
    for details on the Widget-specific properties.

p.
    To add a Widget to a Dashboard, first a new Page must be added.  Click on any Page and select the Add Widget button at the top
    of the editor.  Click on the new Widget to open its editor, then the Widget Type can be selected from the dropdown.  Once a Widget
    Type is selected, the editor will automatically show relevent properties for that specific Type.

p.
    The Widget Type can be changed later, and
    the editor will refresh with an updated list of availabile properties.  Note that any properties that aren't applicable for the current
    type will be hidden in the editor. (They can be edited or removed directly in the JSON editor)

h4 Common Properties

p These properties are common to each Widget.  Several of them are overrides for Dashboard or Page properties, from which 
    | a Widget will inherit if the properties are not overridden at the Widget level.

property-table(properties='config.dashboard.properties.pages.properties.widgets.properties')

h4 Widgets

p Select the individual Widget names in the menu to see documentation specific to each Widget type.
