#browserError.hidden
    h1 Incompatible Browser
    p.
        Sorry, the browser you are using is not currently supported.  This website
        uses modern web development capabilities that are not compatible with your 
        current browser.
    p.
        Please upgrade to the latest version of your preferred browser.

    table
        tr
            td
                a(href='//www.mozilla.org/en-US/firefox/new/', title='Firefox')
                    img(src='/img/browsers/firefox_64x64.png')
            td
                a(href='//www.google.com/chrome/browser/', title='Chrome')
                    img(src='/img/browsers/chrome_64x64.png')
            td
                a(href='//www.apple.com/safari/', title='Safari')
                    img(src='/img/browsers/safari_64x64.png')
            td
                a(href='//microsoft.com/ie', title='Internet Explorer 11')
                    img(src='/img/browsers/internet-explorer-tile_64x64.png')
