.dashboard-sidebar.collapsed.dashboard-page-background(ng-if='dashboard.sidebar.showDashboardSidebar')
    .sidebar-expander-hitbox
        .sidebar-expander
            i.fa.fa-caret-right

    .sidebar-header
        h1(ng-if='dashboard.sidebar.showDashboardTitle == true') {{ dashboardDisplayName }}
        table.iconbar(ng-if='dashboard.sidebar.showToolbar == true')
            tr
                td
                    a(ng-href='/edit/{{ dashboard.name }}', title='Edit this Dashboard', target='_blank')
                        i.fa.fa-edit
                td(ng-if='analyticsEnabled()')
                    a(ng-href='/analytics/{{ dashboard.name }}', title='View Analytics for this Dashboard', target='_blank')
                        i.fa.fa-bar-chart
                td
                    a(ng-href='{{ exportUrl }}', title='Export this Dashboard', target='_blank')
                        i.fa.fa-download
                td(requires-auth)
                    i.fa.fa-star-o(ng-if='!isLiked', ng-click='toggleLike()', title='Star this Dashboard')
                    i.fa.fa-star(ng-if='isLiked', ng-click='toggleLike()', title='Unstar this Dashboard')    

    .sidebar-accordion

        accordion-group(ng-repeat='content in sidebarContent track by $index', heading='{{ content.heading }}', is-open='content.isOpen')
            div(ng-bind-html='trustHtml(content.html)')

        accordion-group.show-hide-widgets(heading='Show/Hide Widgets', ng-if='dashboard.sidebar.showHideWidgets == true', is-open='isShowHideWidgetsOpen')
            
            ul.widget-list(dnd-list='calculatedWidgets')
                li(ng-repeat='widget in calculatedWidgets',
                    dnd-draggable='widget',
                    dnd-effect-allowed='move',
                    dnd-moved='moveWidget($index)')
                    span.icon
                        i.fa.fa-bars
                    span.title {{ widget.label }}
                    span.swtch
                        switch(ng-model='widget.visible', ng-change='changeVisibility(widget, $index)')

            ul.widget-list.final
                li
                    span.icon
                    span.title All Widgets
                    span.swtch
                        switch(ng-model='allWidgetsVisible', ng-change='toggleAllWidgets()')
            p.centered
                a(ng-click='resetDashboardOverrides()', title='Reset to default')
                    i.fa.fa-refresh
                    |  Reset to default
    .sidebar-footer
        .logos
            a.logo(ng-repeat='logo in ::footerLogos', title='{{ ::logo.title }}', 
                ng-href='{{ ::logo.href }}', target='_self')
                img(ng-src='{{ ::logo.src }}', alt='{{ ::logo.title }}')
