.login-modal
    .modal-header
        h3.modal-title Login

    .modal-body
        .login-message(ng-if='loginMessage') {{ loginMessage }}

        form(ng-submit='login()')
            input(type='text', ng-model='credentials.username', required, focus-on='focusUsername', placeholder='Username')
            input(type='password', ng-model='credentials.password', required, focus-on='focusPassword', placeholder='Password')

            //- Hidden input for ng-submit to work
            input(type='submit', style='position: absolute; left: -9999px')

        p.modal-error.bg-danger(ng-if='loginError')
            i.fa.fa-exclamation
            span  Invalid username or password.  Please try again.

    .modal-footer
        button.btn(ng-click='cancel()') Cancel
        button.btn.btn-primary(ng-click='login()', ng-disabled='!canLogin()') Login
