.modal-header
    h3.modal-title Permission Denied

.modal-body
    p This Dashboard has
        strong  View Permissions
        |  that prevent you from being able to view or edit it.

    p This is managed by the owner of this Dashboard.

.modal-footer
    button.btn.btn-primary(ng-click='goHome()')
        i.fa.fa-home
        span  Home
