
.widget-error-container
    .fa.fa-exclamation(title='{{ errorMessage }}')
    .widget-reload(ng-click='reload()')
        i.fa.fa-refresh 
        |  Reload
    .widget-error-message(title='{{ errorMessage }}')
        | {{ shortErrorMessage }}
