.stoplight-widget(ng-controller='StoplightWidget')
    h1.title(ng-if='widget.title') {{ widgetTitle() }}

    .widget-body

        .spinjs(ng-if='loading')
        .widget-error(ng-if='dataSourceError == true && !loading')
        .widget-nodata(ng-if='nodata && !loading')
            .fa.fa-exclamation-triangle
            span  {{ nodata }}

        .trafficlight(ng-if='!loading && !dataSourceError', active-color='activeColor', ng-class='{transparent: nodata}')
            .protector
            .protector
            .protector
            .trafficlight-inner
                .light.red
                .light.yellow
                .light.green
