.editor-view-header
    h3 Data Sources

    .editor-view-header-buttons
        button#editor-dataSources-add.btn.btn-primary(type='button', ng-click='newDataSource()', title='Add New Data Source') 
            i.fa.fa-plus
            span  Add Data Source

editor-view-object-array(model='editor.dashboard.dataSources', label='Data Source', 
    substate='edit.dataSource', headingfn='getDataSourceName(item)')
