.editor-view-header
    h3 Dashboard Details

.form-group
    label Name
    p.text-danger(ng-hide='isValidDashboardName()')
        | Dashboard names cannot have special characters.  Allowed: A-Z, a-z, 0-9, -
    input.form-control(type='text', ng-model='editor.dashboard.name', ng-pattern='/^[A-Za-z0-9-_ ]*$/', placeholder='Dashboard Name', ng-required, ng-disabled='!editor.isNew')


.form-group
    label Tags
    ui-select(ng-model='editor.dashboardWrapper.tags', multiple='',
        tagging='', tagging-label='(new)', tagging-tokens='SPACE|ENTER')
        ui-select-match(placeholder='Tags...') 
            i.fa.fa-tag
            span  {{ $item }}
        ui-select-choices(repeat='tag in allTags | filter:$select.search')
            i.fa.fa-tag
            span  {{ tag }}

.form-group(requires-auth)
    label(title='Restrict who can edit this Dashboard.')
        span Edit Permissions
        i.inline-js-icon.fa.fa-cog.fa-spin(ng-if='ldapSearch.editors.searchCount != ldapSearch.editors.currentId', title='Loading...')

    ui-select.permission-selector(ng-model='editor.dashboardWrapper.editors', multiple='')
        ui-select-match(placeholder='Users or Groups') 
            span.ui-select-prefix-icon(ng-switch='$item.category')
                i.fa.fa-users(ng-switch-when='Security Group')
                i.fa.fa-users(ng-switch-when='Group')
                i.fa.fa-envelope(ng-switch-when='Distribution List')
                i.fa.fa-user(ng-switch-when='User')
                i.fa.fa-life-ring(ng-switch-default)
            span {{ $item.displayName || $item.givenName }}
        ui-select-choices(repeat='result in ldapSearch.editors.results', refresh='searchLdap($select.search, "editors")', refresh-delay='500')
            span.ui-select-prefix-icon(ng-switch='result.category')
                i.fa.fa-users(ng-switch-when='Security Group')
                i.fa.fa-users(ng-switch-when='Group')
                i.fa.fa-envelope(ng-switch-when='Distribution List')
                i.fa.fa-user(ng-switch-when='User')
                i.fa.fa-life-ring(ng-switch-default)
            span(ng-bind-html='result.displayName | highlight: $select.search')
            div
                small.category {{ result.category }}
                small.text-muted   {{ result.mail }}

.form-group(requires-auth)
    label(title='Restrict who can view this Dashboard.')
        span View Permissions
        i.inline-js-icon.fa.fa-cog.fa-spin(ng-if='ldapSearch.viewers.searchCount != ldapSearch.viewers.currentId', title='Loading...')

    p.text-danger(ng-if='editor.dashboardWrapper.editors.length == 0 && editor.dashboardWrapper.viewers.length > 0')
        | View Permissions will be ignored unless Edit Permissions are set.

    ui-select.permission-selector(ng-model='editor.dashboardWrapper.viewers', multiple='')
        ui-select-match(placeholder='Users or Groups') 
            span.ui-select-prefix-icon(ng-switch='$item.category')
                i.fa.fa-users(ng-switch-when='Security Group')
                i.fa.fa-users(ng-switch-when='Group')
                i.fa.fa-envelope(ng-switch-when='Distribution List')
                i.fa.fa-user(ng-switch-when='User')
                i.fa.fa-life-ring(ng-switch-default)
            span {{ $item.displayName || $item.givenName }}
        ui-select-choices(repeat='result in ldapSearch.viewers.results', refresh='searchLdap($select.search, "viewers")', refresh-delay='500')
            span.ui-select-prefix-icon(ng-switch='result.category')
                i.fa.fa-users(ng-switch-when='Security Group')
                i.fa.fa-users(ng-switch-when='Group')
                i.fa.fa-envelope(ng-switch-when='Distribution List')
                i.fa.fa-user(ng-switch-when='User')
                i.fa.fa-life-ring(ng-switch-default)
            span(ng-bind-html='result.displayName | highlight: $select.search')
            div
                small.category {{ result.category }}
                small.text-muted   {{ result.mail }}

.editor-property-set(model='editor.dashboard', definition='dashboardProperties', excludes='dashboardExcludes')
