div
    ul.list-group(dnd-list='model')
        li.list-group-item(ng-repeat='item in model',
            dnd-draggable='item'
            dnd-moved='model.splice($index, 1)'
            dnd-effect-allowed='move') 

            .clearfix
                span.icon
                    i.fa.fa-bars

                span.object-array-name(ng-click='goToSubState(substate, item, $index)', title='Edit this {{ label }}') 
                    | {{ headingfn({item: item, index: $index, label: label}) }}

                span.button-group.pull-right
                    
                    button#clone.btn.btn-default(type='button', ng-click='cloneItem($index)', title='Clone {{ label }}') 
                        i.fa.fa-copy
                        span  Clone
                
                    button#remove.btn.btn-default(type='button', ng-click='removeItem($index)', title='Remove {{ label }}') 
                        i.fa.fa-times
                        span  Remove

            div(ng-transclude='parent')

    p.text-muted(ng-if='model.length == 0')
        | There are no {{ label }}s in this Dashboard
