.chart-widget(ng-controller='ChartWidget')
    h1.title(ng-if='::widget.title') {{ widgetTitle() }}

    .spinjs(ng-if='loading')
    .widget-error(ng-if='dataSourceError == true && !loading')        
    .widget-nodata(ng-if='nodata && !loading')
        .fa.fa-exclamation-triangle
        span  {{ nodata }}

    .highchart(ng-if='!nodata && !dataSourceError', chart='highchart', theme='widget.theme', addshift='widget.addShiftPoints')
